{% extends "layout.html" %}

{% block head %}
<title>tmpshowquery</title>
<link href="static/css/index.css" rel="stylesheet" type="text/css" />
<script src="static/node_modules/jquery/dist/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
<meta charset="utf-8">
{% endblock %}

{% block main %}
<h2 id="ids" value="" style="float: left"></h2>
<form action="/">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <button type="submit" onclick="" style="float: right" class="btn"><i class="fa fa-home"></i>
        Home</button>
</form>
<button style="float: right" title="{{ query }}" class="btn">Hover over to view original query.</button>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" />
<div id="queryvalue" value="" class="table-responsive" style="page-break-inside:auto">
    <table id="idtable" class="order-column">
        <thead>
            <tr>
                <th>Patient IDs</th>
                <th class="no-sort">Go to patient information</th>
                <th class="no-sort">Year of Birth</th>
                <th class="no-sort">Gender</th>
            </tr>
        </thead>
        <tbody id="idtablevalues">
        </tbody>
    </table>
</div>

<script>
    var patientInfo = JSON.parse('{{ patientInfo|safe }}');
    console.log(patientInfo)
    function sortObjectByKeys(o) {
        return Object.keys(o).sort().reduce((r, k) => (r[k] = o[k], r), {});
    };

    patientInfo = sortObjectByKeys(patientInfo)

    var table = document.getElementById("idtablevalues");
    table.innerHTML = "";
    var index = 0;
    Object.keys(patientInfo).forEach(function (id) {
        table = document.getElementById("idtablevalues");
        var row = table.insertRow(index);
        var cell = row.insertCell(0);
        console.log(id)
        cell.innerHTML = id;
        cell = row.insertCell(1);
        cell.setAttribute('id', id);
        cell.innerHTML = '<form action="/displayPatientInformation" method="POST">{% csrf_token %}<input style="font-size: 15px; border: none; background-color: #C8DBE4;" type="submit" value="Patient ' + id + '" name="patientID"/></form>';
        cell = row.insertCell(2)
        cell.innerHTML = patientInfo[id][1]
        cell = row.insertCell(3)
        cell.innerHTML = patientInfo[id][0]
        index = index + 1;
    });

    $(document).ready(function () {
        $('#idtable').DataTable({
            "ordering": true,
            columnDefs: [{
                orderable: false,
                targets: "no-sort"
            }]
        });
    });
</script>
{% endblock %}