{% extends "layout.html" %}

{% block head %}
<title>tmpshowquery</title>
<link href="static/css/index.css" rel="stylesheet" type="text/css" />
<script src="static/node_modules/jquery/dist/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
<meta charset="utf-8">
{% endblock %}

{% block main %}
<form action="/">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <button type="submit" onclick="" style="float: right" class="btn"><i class="fa fa-home"></i>
        Home</button>
</form>

<script>
</script>
{% endblock %}