{% extends "layout.html" %}

{% block main %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<form action="/">
    <button type="submit" onclick="" style="float: right" class="btn"><i class="fa fa-home"></i> Home</button>
</form>
<div class="box">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" />
    {% if startdate != '' and enddate != '' %}
    <p>Displaying all patients between the dates {{ enddate }} and {{ startdate }}.</p>
    {% elif startdate != '' and enddate == '' %}
    <p>Displaying all patients up to {{ startdate }}.</p>
    {% elif startdate == '' and enddate != '' %}
    <p>Displaying all patients from {{ enddate }}.</p>
    {% elif startdate == '' and enddate == '' %}
    <p>Displaying all patients.</p>
    {% endif %}       
    <h4>Filter by:</h4>
    <form action="/displayinitialres" method="POST">
        <select name="gender">
            <option value="0">Gender:</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
        <br><input type="text" name="under" placeholder="Age (under)">
        <input type="text" name="over" placeholder="Age (over)">
        <button type="submit" name="filter" value="{{ originaldists }}" class="btn">Go</button>
    </form>
</div>
<form action="/distillerrecsdispcmp" method="POST">
    <button type="submit" id="distcmp" name="muldistrecs" style="position: relative" class="btn">Review Selected
        Record(s)</button>
</form>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" />
<div class="table-responsive">
    <table id="results" class="table table-striped table-hover">
        {% if dists is not none %}
        <thead>
            <tr>
                <th>Compare<br><input type="checkbox" onClick="toggle(this)" />Select All</th>
                <th>ID</th>
                <th style="cursor: pointer;" onclick="sortTable(1)">Gender <img src="/static/triangle.png"
                        style="width:20px;height:20px;"></th>
                <th>Age</th>
                <th style="cursor: pointer;" onclick="sortTable(2)">Date of Birth <img src="/static/triangle.png"
                        style="width:20px;height:20px;"></th>
            </tr>
        </thead>
        <tbody>
            {% for dist in dists %}
            <tr>
                {% if dist != startdate or dist != enddate %}
                <td><input type="checkbox" name="cmpdistcheck" id="cmpdistcheck" value="{{ dist }}"
                        onclick="addDistRec(this)"></td>
                <form action="/distillerrecsdispcmp" method="POST">
                    <td><button type="submit" id="distcmp" name="muldistrecs" class="distbutton"
                            value="{{ dist }}">{{ dist }}</button></td>
                </form>
                <td>{{ dists[dist].gen }}</td>
                <td>{{ dists[dist].age }}</td>
                <td>{{ dists[dist].dob }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>
    <table id="header-fixed" class="table table-striped table-hover"></table>
</div>

<script>
    var dates = JSON.parse('{{ originaldists | tojson | safe }}');

    var distdict = {};

    distdict["startdate"] = "{{ startdate }}"
    distdict["enddate"] = "{{ enddate }}"

    function toggle(source) {
        checkboxes = document.getElementsByName('cmpdistcheck');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
            addDistRec(checkboxes[i]);
        }
    }
    function addDistRec(element) {
        var val = element.value;
        if (distdict[val] == null) {
            distdict[val] = "true";
        } else if (distdict[val] == "true") {
            distdict[val] = "false";
        } else if (distdict[val] == "false") {
            distdict[val] = "true";
        }
        console.log(distdict)
        document.getElementById("distcmp").value = JSON.stringify(distdict);
    }
</script>

<script>
    var tableOffset = $("#results").offset().top;
    var $header = $("#results > thead").clone();
    var $fixedHeader = $("#header-fixed").append($header);

    $(window).bind("scroll", function () {
        var offset = $(this).scrollTop();

        if (offset >= tableOffset && $fixedHeader.is(":hidden")) {
            $fixedHeader.show();
        }
        else if (offset < tableOffset) {
            $fixedHeader.hide();
        }
    });

    function sortTable(n) {
        if (n == 2) {
            sortByDate();
        }

        var num;
        n = n + 1;
        num = 1;

        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("results");
        switching = true;
        dir = "asc";

        while (switching) {
            switching = false;
            rows = table.rows;

            for (i = num; i < (rows.length - 1); i++) {
                shouldSwitch = false;

                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];

                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {

                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
    function convertDate(d) {
        var p = d.split("/");
        return +(p[2] + p[1] + p[0]);
    }

    function sortByDate() {
        var tbody = document.querySelector("#results tbody");
        rows = [].slice.call(tbody.querySelectorAll("tr"));

        rows.sort(function (a, b) {
            return convertDate(a.cells[0].innerHTML) - convertDate(b.cells[0].innerHTML);
        });

        rows.forEach(function (v) {
            tbody.appendChild(v);
        });
    }
</script>

{% endblock %}