{% extends "layout.html" %}

{% block main %}
<div class="top">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <form action="/">
        <button type="submit" onclick="" style="float: right" class="btn"><i class="fa fa-home"></i> Home</button>
    </form>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" />
    <form action="/distillerrecsdispcmp" method="POST">
        <select name="category">
            <option value="0">Select Category:</option>
            {% if indivpatient %}
            <option value="Demographics">Demographics</option>
            {% endif %}
            <option value="Encounters">Encounters</option>
            <option value="Continuous Medication">Continuous Medication</option>
            <option value="Complications">Complications</option>
            <option value="Plasma Exchange">Plasma Exchange</option>
            <option value="Biopsy">Biopsy</option>
            <option value="Pmpbreakdown">PmP Breakdown</option>
        </select>
        <button type="submit" name="muldistrecs" value="{{ muldistrecs }}">Go</button>
        <br>
    </form>
</div>

{% if demo and results != None %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" />
<div class="table-responsive">
    <table id="results" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Label</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for res in results %}
            <tr>
                <td>{{ res }}</td>
                <td>{{ results[res] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% if pmpbreakdown and results != None %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<div class="split left">
    <div class="w3-container">
        <canvas id="doughnut-chart" width="400" height="400"></canvas>
    </div>
</div>

{% if latlon != None %}
<div class="split right">
    <div id="googleMap" style="width:100%;height:400px"></div>
</div>
{% endif %}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" />
<br>
<div class="stay">
    <div class="table-responsive">
        <table id="results" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Patient ID</th>
                    <th>Total Number of PmP</th>
                    <th>Number of PmP with Locations</th>
                    <th>Number of PmP without Locations</th>
                </tr>
            </thead>
            <tbody>
                {% for res in results %}
                <tr>
                    <td>{{ res }}</td>
                    <td>{{ results[res].numrecs }}</td>
                    <td>{{ results[res].numloc }}</td>
                    <td>{{ results[res].numnoloc }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td style="font-weight: bold">Total</td>
                    <td id="total"></td>
                    <td id="numloc"></td>
                    <td id="numnoloc"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% if latlon != None %}
<script>
    function myMap() {
        var data = JSON.parse('{{ latlon | tojson | safe }}');
        var coordinates = [];
        var titles = [];
        for (x in data) {
            var tmp = { lat: parseFloat(data[x]["lat"]), lng: parseFloat(data[x]["lon"]) }
            coordinates.push(tmp);
            titles.push(x);
        }
        var map = new google.maps.Map(
            document.getElementById("googleMap"), { zoom: 4, center: coordinates[0] });
        var i;
        for (i = 0; i < coordinates.length; i++) {
            var marker = new google.maps.Marker({ position: coordinates[i], map: map, title: titles[i] });
        }
    }
</script>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhRvZrbIGAX_Q_Ebw1pGymW0dBhsln6wE&callback=myMap"></script>
{% endif %}

<script>
    var data = JSON.parse('{{ results | tojson | safe }}');
    var total = 0, pmpl = 0, pmpwl = 0;
    for (res in data) {
        total = data[res].numrecs + total;
        pmpl = data[res].numloc + pmpl;
        pmpwl = data[res].numnoloc + pmpwl;
    }

    var pmpchart = new Chart(document.getElementById("doughnut-chart"), {
        type: 'doughnut',
        data: {
            labels: ["PmP with Locations", "PmP without Locations"],
            datasets: [
                {
                    label: "PmP Breakdown",
                    backgroundColor: ["#3e95cd", "#8e5ea2"],
                    data: [pmpl, pmpwl]
                }
            ]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            title: {
                display: true,
                text: 'PmP Breakdown'
            }
        }
    });
</script>
{% endif %}

<script>
    var data = JSON.parse('{{ results | tojson | safe }}');
    var total = 0, pmpl = 0, pmpwl = 0;
    for (res in data) {
        total = data[res].numrecs + total;
        pmpl = data[res].numloc + pmpl;
        pmpwl = data[res].numnoloc + pmpwl;
    }

    document.getElementById('total').innerHTML = total;
    document.getElementById('numloc').innerHTML = pmpl;
    document.getElementById('numnoloc').innerHTML = pmpwl;
</script>

{% if contmeds and results != None and indivpatient %}
<form action="/distillerrecsdispcmp" method="POST">
    <select name="drug" id="drug">
        <option value="0">Select Drug:</option>
    </select>
    <button type="submit" name="muldistrecs" value="{{ muldistrecs }}">Go</button>
</form>

<script>
    var data = JSON.parse('{{ results | tojson | safe }}');
    var drugs = {};
    for (d in data) {
        for (d2 in data[d]) {
            if (drugs[d2] == null) {
                drugs[d2] = {}
            } else {
                drugs[d2][data[d][d2].date] = data[d][d2].dosage;
            }
        }
    }
    for (drug in drugs) {
        var sel = document.getElementById('drug');
        var opt = document.createElement('option');
        opt.appendChild(document.createTextNode(drug));
        opt.value = drug;
        sel.appendChild(opt);
    }
</script>
{% endif %}

{% if plasma and results != None and indivpatient %}
<form action="/distillerrecsdispcmp" method="POST">
    <select name="type" id="type">
        <option value="0">Select Type:</option>
    </select>
    <button type="submit" name="muldistrecs" value="{{ muldistrecs }}">Go</button>
</form>

<script>
    var data = JSON.parse('{{ results | tojson | safe }}');
    var types = {};
    for (d in data) {
        for (d2 in data[d]) {
            if (types[d2] == null) {
                types[d2] = {}
            } else {
                types[d2][data[d][d2].date] = data[d][d2].type;
            }
        }
    }
    for (type in types) {
        var sel = document.getElementById('type');
        var opt = document.createElement('option');
        opt.appendChild(document.createTextNode(type));
        opt.value = type;
        sel.appendChild(opt);
    }
</script>
{% endif %}

{% if indivpatient and drugs != None %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

<div class="w3-container">
    <canvas id="line-chart" width="400" height="400"></canvas>
</div>

<script>
    var data = JSON.parse('{{ drugs | tojson | safe }}');
    var dates = [];
    var test;

    var timeformat = 'MM/DD/YYYY HH:mm:ss';
    var borderColor = "#3e95cd";

    var dates = []

    for (date in data) {
        dates.push(date);
    }

    dates = dates.sort(function (a, b) {
        var dateA = new Date(a), dateB = new Date(b);
        return dateA - dateB;
    });

    var doses = []
    for (var i = 0; i < dates.length; i++) {
        doses.push(data[dates[i]]);
    }
    doses.reverse();
    dateobjs = [];

    for (var i = 0; i < dates.length; i++) {
        dateobjs.push(new Date(dates[i]));
    }

    dateobjs = dateobjs.sort(function (a, b) { return b.getTime() - a.getTime() });

    var title = '{{ curr }}';
    var drugChart = new Chart(document.getElementById("line-chart"), {
        type: 'line',
        data: {
            labels: dateobjs,
            datasets: [{
                label: title,
                data: doses,
                borderColor: borderColor,
                fill: false
            }]
        },
        options: {
            bezierCurve: false,
            elements: {
                line: {
                    tension: 0
                }
            },
            responsive: true,
            maintainAspectRatio: false,
            title: {
                display: true,
                text: title
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        parser: timeformat,
                        tooltipFormat: 'll HH:mm'
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Date'
                    }
                }],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'value'
                    }
                }]
            },
        }
    });
</script>

{% endif %}

{% if contmeds and results != None %}
{% if not indivpatient %}
<form action="/distillerrecsdispcmp" method="POST">
    <input type="checkbox" name="freqviewcont" checked>See frequencies on chart<br>
    <button type="submit" name="muldistrecs" value="{{ muldistrecs }}">Go</button>
</form>
{% endif %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" />
<div class="table-responsive">
    <table id="results" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Patient ID</th>
                <th style="cursor: pointer;" onclick="sortTable(1)">Date <img src="/static/triangle.png"
                        style="width:20px;height:20px;"></th>
                <th>Record</th>
                <th style="cursor: pointer;" onclick="sortTable(3)">Drug <img src="/static/triangle.png"
                        style="width:20px;height:20px;"></th>
                <th>Dosage</th>
                <th>Units</th>
                <th>Frequency</th>
                <th>Stop Date</th>
            </tr>
        </thead>
        <tbody>
            {% for res in results %}
            {% for drug in results[res] %}
            <tr>
                <td>{{ results[res][drug].id }}</td>
                <td>{{ results[res][drug].date }}</td>
                <td>{{ res }}</td>
                <td>{{ drug }}</td>
                <td>{{ results[res][drug].dosage }}</td>
                <td>{{ results[res][drug].units }}</td>
                <td>{{ results[res][drug].freq }}</td>
                <td>{{ results[res][drug].enddate }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% if plasma and results != None %}
{% if not indivpatient %}
<form action="/distillerrecsdispcmp" method="POST">
    <input type="checkbox" name="freqviewplasma" checked>See frequencies on chart<br>
    <button type="submit" name="muldistrecs" value="{{ muldistrecs }}">Go</button>
</form>
{% endif %}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" />
<div class="table-responsive">
    <table id="results" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Patient ID</th>
                <th style="cursor: pointer;" onclick="sortTable(1)">Date <img src="/static/triangle.png"
                        style="width:20px;height:20px;"></th>
                <th>Record</th>
                <th style="cursor: pointer;" onclick="sortTable(3)">Type <img src="/static/triangle.png"
                        style="width:20px;height:20px;"></th>
                <th>Volume</th>
            </tr>
        </thead>
        <tbody>
            {% for res in results %}
            {% for type in results[res] %}
            <tr>
                <td>{{ results[res][type].id }}</td>
                <td>{{ results[res][type].date }}</td>
                <td>{{ res }}</td>
                <td>{{ type }}</td>
                <td>{{ results[res][type].vol }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% if freqview %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

<div class="w3-container">
    <canvas id="bar-chart" width="400" height="400"></canvas>
</div>

<script>
    var data = JSON.parse('{{ results | tojson | safe }}');
    var chart = new Chart(document.getElementById("bar-chart"), {
        type: 'bar',
        data: {
            labels: Object.keys(data),
            datasets: [
                {
                    label: "Number of Patients",
                    backgroundColor: "#3e95cd",
                    data: Object.values(data)
                }
            ]
        },
        options: {
            maintainAspectRatio: false,
            legend: { display: false },
            title: {
                display: true,
                text: "{{ title }}"
            }, scales: {
                xAxes: [{
                    barPercentage: 0.4
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
{% endif %}

{% if dispchart %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

<div class="w3-container">
    <canvas id="enc-chart" width="400" height="400"></canvas>
</div>

<script>
    var data = JSON.parse('{{ graphresults | tojson | safe }}');
    for (d in data) {
        for (d2 in data[d]) {
            if (data[d][d2] == null) {
                data[d][d2] = NaN;
            } else {
                data[d][d2] = parseFloat(data[d][d2]);
            }
        }
    }
    var timeformat = 'MM/DD/YYYY HH:mm:ss';

    var dateobjs = [];

    for (d in data) {
        for (date in data[d])
            dateobjs.push(new Date(date));
        break;
    }

    dateobjs = dateobjs.sort(function (a, b) { return b.getTime() - a.getTime() });

    dateobjs = dateobjs.reverse();

    var title = '{{ title }}';
    var encounterChart = new Chart(document.getElementById("enc-chart"), {
        type: 'line',
        data: {
            labels: dateobjs,
            datasets: []
        },
        options: {
            showLines: true,
            bezierCurve: false,
            elements: {
                line: {
                    tension: 0
                }
            },
            responsive: true,
            maintainAspectRatio: false,
            title: {
                display: true,
                text: title
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        parser: timeformat,
                        tooltipFormat: 'll HH:mm'
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Date'
                    }
                }],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'value'
                    },
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
        }
    });

    for (d in data) {
        encounterChart.data.datasets.push({
            spanGaps: false,
            label: d,
            data: Object.values(data[d]),
            borderColor: '#' + Math.floor(Math.random() * 16777215).toString(16),
            fill: false
        })
        encounterChart.update();
    }
</script>
{% endif %}

{% if encounters or complications and results != None %}
{% if complications and not indivpatient %}
<form action="/distillerrecsdispcmp" method="POST">
    <input type="checkbox" name="freqviewcomp" checked>See frequencies on chart<br>
    <button type="submit" name="muldistrecs" value="{{ muldistrecs }}">Go</button>
</form>
{% endif %}
{% if encounters and indivpatient %}
<form action="/distillerrecsdispcmp" method="POST">
    <input type="checkbox" name="bvasvars" id="bvasvars">View BVAS variables on Box Chart<br>
    <button type="submit" name="muldistrecs" value="{{ muldistrecs }}">Go to Box Chart</button><br>
    <input type="checkbox" name="encchart" id="encchart">View on Chart<br>
    <div id="encchartdiv" style="display:none">
        <input type="checkbox" onClick="toggle(this)">Select All<br>
        <input type="checkbox" name="graphcheck" onclick="addDistRec(this)" value="BVAS Score">BVAS Score<br>
        <input type="checkbox" name="graphcheck" onclick="addDistRec(this)" value="Weight">Weight<br>
        <input type="checkbox" name="graphcheck" onclick="addDistRec(this)" value="Creatinine">Creatinine<br>
        <input type="checkbox" name="graphcheck" onclick="addDistRec(this)" value="Platelet count">Platelet count<br>
        <input type="checkbox" name="graphcheck" onclick="addDistRec(this)"
            value="C-Reactive Protein Measurement">CRP<br>
        <input type="checkbox" name="graphcheck" onclick="addDistRec(this)" value="White blood cell count">White blood
        cell count<br>
        <input type="checkbox" name="graphcheck" onclick="addDistRec(this)" value="Hb-SC">Hb-SC<br>
        <input type="checkbox" name="graphcheck" onclick="addDistRec(this)" value="PCR">PCR<br>
        <input type="checkbox" name="graphcheck" onclick="addDistRec(this)" value="Rheumatoid factor">Rheumatoid
        factor<br>
        <input type="checkbox" name="graphcheck" onclick="addDistRec(this)" value="Neutrophil count">Neutrophil
        count<br>
        <input type="checkbox" name="graphcheck" onclick="addDistRec(this)" value="Lymphocyte count">Lymphocyte
        count<br>
        <input type="checkbox" name="graphcheck" onclick="addDistRec(this)" value="Eosinophil count">Eosinophil
        count<br>
        <input type="checkbox" name="graphcheck" onclick="addDistRec(this)"
            value="Erythrocyte Sedimentation Rate Measurement">Erythrocyte Sedimentation Rate Measurement<br>
        <input type="checkbox" name="graphcheck" onclick="addDistRec(this)" value="Absolute CD19 count">Absolute CD19
        count<br>
        <input type="checkbox" name="graphcheck" onclick="addDistRec(this)"
            value="Serum total cholesterol measurement">Serum total cholesterol measurement<br>
        <input type="checkbox" name="graphcheck" onclick="addDistRec(this)" value="GBM antibody measurement">GBM
        antibody measurement<br>
        <input type="checkbox" name="graphcheck" onclick="addDistRec(this)"
            value="Proteinase 3 Antibody Measurement">Proteinase 3 Antibody Measurement<br>
        <input type="checkbox" name="graphcheck" onclick="addDistRec(this)" value="MPO">MPO<br>
        <input type="checkbox" name="graphcheck" onclick="addDistRec(this)" value="igG">igG<br>
        <input type="checkbox" name="graphcheck" onclick="addDistRec(this)" value="igA">igA<br>
        <input type="checkbox" name="graphcheck" onclick="addDistRec(this)" value="igM">igM<br>
        <input type="checkbox" name="graphcheck" onclick="addDistRec(this)" value="Complement C3">Complement C3<br>
        <input type="checkbox" name="graphcheck" onclick="addDistRec(this)" value="Complement C4 Measurement">Complement
        C4 Measurement<br>
    </div>
    <button type="submit" name="muldistrecs" value="{{ muldistrecs }}">Go</button>
</form>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" />
<div class="table-responsive">
    <table id="results" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Patient ID</th>
                <th style="cursor: pointer;" onclick="sortTable(1)">Date <img src="/static/triangle.png"
                        style="width:20px;height:20px;"></th>
                <th style="cursor: pointer;" onclick="sortTable(2)">Label <img src="/static/triangle.png"
                        style="width:20px;height:20px;"></th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for res in results %}
            {% for date in results[res] %}
            {% for val in results[res][date] %}
            <tr>
                {% if results[res][date][val].value != '' %}
                <td>{{ res }}</td>
                <td>{{ date }}</td>
                <td>{{ val }}</td>
                <td>{{ results[res][date][val].value }}</td>
                {% endif %}
            </tr>
            {% endfor %}
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% if complications %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" />
<div class="table-responsive">
    <table id="results" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Patient ID</th>
                <th style="cursor: pointer;" onclick="sortTable(1)">Date <img src="/static/triangle.png"
                        style="width:20px;height:20px;"></th>
                <th style="cursor: pointer;" onclick="sortTable(2)">Label <img src="/static/triangle.png"
                        style="width:20px;height:20px;"></th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for res in results %}
            {% for tmp in results[res] %}
            <tr>
                <td>{{ res }}</td>
                <td>{{ results[res][tmp].date }}</td>
                <td>{{ tmp }}</td>
                <td>{{ results[res][tmp].value }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endif %}

{% if biopsy and results != None %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" />
<div class="table-responsive">
    <table id="results" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Patient ID</th>
                <th style="cursor: pointer;" onclick="sortTable(1)">Date <img src="/static/triangle.png"
                        style="width:20px;height:20px;"></th>
                <th>Record</th>
                <th>Site</th>
                <th>General Findings</th>
                <th>Renal Findings</th>
                <th>Vessel Findings</th>
                <th>Vessel Size</th>
                <th>Renal Berden Score</th>
            </tr>
        </thead>
        <tbody>
            {% for res in results %}
            {% for type in results[res] %}
            <tr>
                <td>{{ res }}</td>
                <td>{{ results[res][type].date }}</td>
                <td>{{ type }}</td>
                <td>{{ results[res][type].site }}</td>
                <td>{{ results[res][type].genfindings }}</td>
                <td>{{ results[res][type].renfindings }}</td>
                <td>{{ results[res][type].vesfindings }}</td>
                <td>{{ results[res][type].vessize }}</td>
                <td>{{ results[res][type].renalberden }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

<script>
    function toggle(source) {
        checkboxes = document.getElementsByName('graphcheck');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
            addDistRec(checkboxes[i]);
        }
    }

    $(document).ready(function () {
        $('#encchart').change(function () {
            $('#encchartdiv').toggle();
        });
    });

    var graphvars = {}

    function addDistRec(element) {
        var val = element.value;
        if (graphvars[val] == null) {
            graphvars[val] = "true";
        } else if (graphvars[val] == "true") {
            graphvars[val] = "false";
        } else if (graphvars[val] == "false") {
            graphvars[val] = "true";
        }
        document.getElementById("encchart").value = JSON.stringify(graphvars);
    }


    function sortTable(n) {
        if (n == 1) {
            sortByDate();
        }

        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("results");
        switching = true;
        dir = "asc";

        while (switching) {
            switching = false;
            rows = table.rows;

            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;

                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];

                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {

                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
    function convertDate(d) {
        var p = d.split("/");
        return +(p[2] + p[1] + p[0]);
    }

    function sortByDate() {
        var tbody = document.querySelector("#results tbody");
        rows = [].slice.call(tbody.querySelectorAll("tr"));

        rows.sort(function (a, b) {
            return convertDate(a.cells[0].innerHTML) - convertDate(b.cells[0].innerHTML);
        });

        rows.forEach(function (v) {
            tbody.appendChild(v);
        });
    }
</script>

{% if bvas %}
<table id="results" border="1" bordercolor="#a5a5a5">
    <thead>
        <tr>
            <th>
                <font size="3">BVAS variables</font>
            </th>
            {% for date in results %}
            {% if results[date].flare == true %}
            {% if results[date].Persistent|string() == 'True' %}
            <td bgcolor="#f4a442" style="font-weight: bold">
                <font size="2">{{ date }}</font>
            </td>
            {% elif results[date].Persistent|string() == 'False' %}
            <td bgcolor="#FF0000" style="font-weight: bold">
                <font size="2">{{ date }}</font>
            </td>
            {% else %}
            <td style="font-weight: bold">
                <font size="2">{{ date }}</font>
            </td>
            {% endif %}
            {% else %}
            <td style="font-weight: bold">
                <font size="2">{{ date }}</font>
            </td>
            {% endif%}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for res in bvasvars %}
        <tr>
            <td style="font-weight: bold">
                <font size="2">{{ res }}</font>
            </td>
            {% for date in results %}
            {% if results[date][res].value == "1"%}
            {% if results[date].Persistent|string() == 'True' %}
            <td bgcolor="#f4a442">
                <font size="2">{{ results[date][res].value }}</font>
            </td>
            {% elif results[date].Persistent|string() == 'False' %}
            <td bgcolor="#FF0000">
                <font size="2">{{ results[date][res].value }}</font>
            </td>
            {% else %}
            <td>
                <font size="2">{{ results[date][res].value }}</font>
            </td>
            {% endif %}
            {% else %}
            <td>
                <font size="2">{{ results[date][res].value }}</font>
            </td>
            {% endif%}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}