{% extends "layout.html" %}

{% block head %}
    <title>initsearh</title>
    <link href="static/css/index.css" rel="stylesheet" type="text/css" />
    <script src="static/node_modules/jquery/dist/jquery.min.js"></script>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
{% endblock %}

<script type="text/javascript">
    var test;
    function onload() {
        test = document.getElementById('search');
    }
    function clickedAllData() {
        location.href = 'http://data.avert.ie/values/!http://rdfs.org/sioc/ns%23container_of///';
    }
</script>

{% block main %}
<div class="class1" style="background-color:#9BCB3B;">
    <p>Hi</p>
</div>
<div class="class2" style="background-color:#1AB99E;">
    <p>Aditya</p>
</div>
<div class="class3" style="background-color:#F36F25;">
    <p>This is Working!</p>
</div>



{% endblock %}