#leftbox {
    float: left;
    width: 15%;
    height: 100vh;
}

#middlebox {
    float: left;
    width: 60%;
    height: 100vh;
}

#rightbox {
    float: right;
    width: 25%;
    height: 100vh;
}

p {
    padding-top: 25px;
    text-align: center;
}