#leftbox {
    float: left;
    width: 20%;
    height: 100%;
}

#middlebox {
    float: left;
    width: 55%;
    height: 100%;
}

#rightbox {
    float: right;
    width: 25%;
    height: 100%;
}

p {
    padding-top: 25px;
    text-align: center;
}