@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.body {
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.head {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: 23px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 23px;
}

.search {
  width: 450px;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #4286f4;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus {
  color: #00B4CC;
}

.wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #4286f4;
  background: #4286f4;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.timelineinput {
  position: absolute;
  top: 5%;
  color: #9DBFAF;
  left: 5%;
}

.plot {
  position: absolute;
  right: 300px;
}

.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: DodgerBlue;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 10px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.box {
  width: 470px;
  background-color: #e8effc;
  padding: 0px 10px 0px 10px;
}

.distbutton {
  background: none !important;
  color: #4286f4;
  border: none;
  padding: 0 !important;
  font: inherit;
  cursor: pointer;
}

.map {
  height: 100%;
}

#header-fixed { 
  position: fixed; 
  top: 0px; display:none;
  background-color:white;
}

.split {
  height: 100%;
  width: 50%;
  position: absolute;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  top: 60px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.stay {
  padding-top: 450px;
  position: relative;
}

.btn {
  background-color: DodgerBlue; 
  border: none; 
  color: white; 
  padding: 10px 12px; 
  font-size: 16px; 
  cursor: pointer; 
}

.btn:hover {
  background-color: RoyalBlue;
}

.top {
  position: relative !important;
}
